<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid margin-top-container">
  <form>
    <h3>Facturas por cobrar</h3>
    <hr>
    <div *ngIf="solCobrar">
      <ngx-datatable
        #table
        class='material tableHeightFixed'
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]='rows'
        [selectionType]="'single'"
        [scrollbarH]="true">
      </ngx-datatable>
    </div>

    <div [ngClass]="{'hide-element': solCobrar}">
      <ng-template #detailDynamic></ng-template>
    </div>

    <div id="templates">
      <ng-template #tmplDate let-value="value">
        <div>{{value | date: appConfig.formatoFecha}}</div>
      </ng-template>
      <ng-template #linkButton let-value="value" let-rowIndex="rowIndex" let-row="row">
        <button type="button" class="btn btn-primary info-button-small" (click)="checkRow(row)">
          <i class="fas fa-info-circle"></i>
        </button>
      </ng-template>
      <ng-template #tmplAmount let-value="value">
        <div class="amount-text wm-100">{{value | currency:'USD':'symbol'}}</div>
      </ng-template>
      <ng-template #tmplFiltro let-column="column">
        {{column.name}}
        <input
          type='text'
          style="float: left; width: 100%"
          (keyup)='updateFilter($event)'/>
      </ng-template>
    </div>
  </form>
</div>
