<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid margin-top-container">
  <form>
    <div *ngIf="!viewOfferDetail">
      <h3>Mis ofertas</h3>
      <hr>
      <div>
        <ngx-datatable
          class='material tableHeightFixed'
          [columnMode]="'force'"
          [headerHeight]="'auto'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="25"
          [rows]='ofertas'
          [columns]='columns'
          [scrollbarH]="true"
          [selectionType]="'single'"
          [messages]="{emptyMessage:'Sin registros para mostrar...',totalMessage: 'total',selectedMessage: 'selected'}">
        </ngx-datatable>
      </div>
    </div>

    <div [ngClass]="{'hide-element': !viewOfferDetail}">
      <ng-template #dynamicInsert></ng-template>
    </div>

    <div id="templates">
      <ng-template #tmplIndex let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <strong>{{rowIndex+1}}</strong>
      </ng-template>
      <ng-template #tmplDate let-value="value">
        <div>{{value | date: appConfig.formatoFecha}}</div>
      </ng-template>
      <ng-template #linkButton let-value="value" let-rowIndex="rowIndex" let-row="row">
        <button type="button" class="btn btn-warning info-button-small"
                (click)="callDetailSolicitudCancel(row.idSolicitud)">
          <i class="far fa-times-circle"></i>
        </button>
        <button type="button" class="btn btn-primary info-button-small"
                (click)="callDetailSolicitud(row.idSolicitud)">
          <i class="fas fa-eye"></i>
        </button>
      </ng-template>
      <ng-template #tmplAmount let-value="value">
        <div class="amount-text wm-100">{{value | currency:'USD':'symbol'}}</div>
      </ng-template>
      <ng-template #tmpPeso let-value="value" let-rowIndex="rowIndex" let-row="row">
        <div>{{row.peso}} {{row.tipoPeso}}</div>
      </ng-template>
    </div>
  </form>
</div>
