<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid margin-top-container">
  <form>
    <h3>Solicitudes por despachar</h3>
    <div>
      <hr>
      <ngx-datatable
        class='material tableHeightFixed'
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="25"
        [rows]='listaSolicitudes'
        [columns]="columns"
        [scrollbarH]="true"
        [selectionType]="'single'"
        [messages]="{emptyMessage:'Sin registros para mostrar...',totalMessage: 'total',selectedMessage: 'selected'}">
      </ngx-datatable>
      <hr>
      <div style="text-align: right;" *ngIf="listaSolicitudes">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="refreshData()"
                [disabled]="listaSolicitudes.length<1"><i
          class="fas fa-retweet"></i> Refrescar documentos
        </button>
      </div>
    </div>
    <div id="templates">
      <ng-template #tmplIndex let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <strong>{{rowIndex+1}}</strong>
      </ng-template>
      <ng-template #tmpPeso let-value="value" let-rowIndex="rowIndex" let-row="row">
        <div>{{row.peso}} {{row.medida}}</div>
      </ng-template>
      <ng-template #linkButton let-value="value" let-rowIndex="rowIndex" let-row="row">
        <button type="button" class="btn btn-primary info-button-small" (click)="viewDetail(row.idSolicitud)">
          <i class="fas fa-info-circle"></i>
        </button>
      </ng-template>
      <ng-template #tmplAmount let-value="value" let-rowIndex="rowIndex" let-row="row">
        <div *ngIf="!isRestrictedUser" class="amount-text wm-100">{{row.ofertaValor + row.comision | currency:'USD':'symbol'}}</div>
      </ng-template>
    </div>
  </form>
</div>

