<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid margin-top-container">
  <form>
    <h3>Solicitudes</h3>
    <hr>
    <div class="row alert-info" role="alert">
      <div class="col-sm-12">
        <strong>*</strong> Los dias empiezan a contarse a partir de que se sube la foto en el menú “por entregar” y
        guarda la imagen.
      </div>
    </div>
    <hr>
    <div>
      <ngx-datatable
        class='material tableHeightFixed'
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="25"
        [rows]='ofertas'
        [columns]="columns"
        [scrollbarH]="true"
        [selectionType]="'single'"
        [messages]="{emptyMessage:'Sin registros para mostrar...',totalMessage: 'total',selectedMessage: 'selected'}">
      </ngx-datatable>

      <div id="templates">
        <ng-template #tmplIndex let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{rowIndex+1}}</strong>
        </ng-template>
        <ng-template #tmpPeso let-value="value" let-rowIndex="rowIndex" let-row="row">
          <div>{{row.peso}} {{row.medida}}</div>
        </ng-template>
        <ng-template #tmpDiaPago let-value="value">
          <div>* {{value}}</div>
        </ng-template>
        <ng-template #linkButton let-value="value" let-rowIndex="rowIndex" let-row="row">
          <button type="button" class="btn btn-success info-button-small" (click)="ofertar(row.idSolicitud,rowIndex)">
            <i class="fas fa-dollar-sign"></i>
          </button>
        </ng-template>
      </div>
      <hr/>
    </div>
  </form>
</div>
