<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid margin-top-container">
  <form>
    <h3>Facturas de gastos pagadas</h3>
    <hr>

    <div>
      <div style="text-align: right;" *ngIf="facturasGastos">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="loadData()"
                [disabled]="selOfert.length<1"><i
          class="fas fa-retweet"></i> Refrescar documentos
        </button>
      </div>
      <hr/>
      <ngx-datatable
        class='material tableHeightFixed'
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [columns]="columns"
        [rows]="facturasGastos"
        [scrollbarH]="true"
        [selectionType]="'single'"
        [messages]="{emptyMessage:'Sin registros para mostrar...',totalMessage: 'total',selectedMessage: 'selected'}">
      </ngx-datatable>
    </div>

    <div id="templates">
      <ng-template #tmplIndex let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <strong>{{rowIndex+1}}</strong>
      </ng-template>
      <ng-template #tmplAmount let-value="value" let-row="row">
        <div class="amount-text wm-100">{{value | currency:'USD':'symbol'}}</div>
      </ng-template>
      <ng-template #tmplDate let-value="value">
        <div>{{value | date: appConfig.formatoFecha}}</div>
      </ng-template>
      <ng-template #tmplInfo let-value="value">
        <button class="btn btn-primary">
          <i class="fas fa-info-circle"></i>
        </button>
      </ng-template>
    </div>
  </form>
</div>
