<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>TAS-ON</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<table align="center" border="1" cellpadding="0" cellspacing="0" width="100%">

    <tr>
        <td bgcolor="#215CA9" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                <tr>

                    <td>

                        <img src="https://www.tas-on.com/assets/images/logo.png" alt="TAS-ON S.A." width="150" height="50"
                             style="display: block;"/>

                    </td>

                    <td align="left" width="60%">

                        <font color="white" size="6">OFERTA CANCELADA</font>

                    </td>

                </tr>

            </table>
        </td>

    </tr>

    <tr>

        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">

            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                <tr>

                    <td style="padding: 20px 0 30px 0;">

                        Estimado ${body.transporte},
                        <br/>
                        <br/>Agradecemos a ti el haber participado en la subasta:
                        <br/>
                        <br/>${body.origen} > ${body.destino} > ${body.tipo}

                        <br/>NÚMERO: ${body.solicitud}
                        <br/>
                        <br/>Esta oferta ha finalizado.
                        <br/>
                        <br/>Pero te invitamos a que continúes subastando otras ofertas.
                        <br/>
                        <br/>Recuerda que si ya ofertaste puedes mejorar tu oferta tan solo modificando y aceptando el nuevo valor. Los precios a los que subastas el transporte son totalmente confidenciales entre tú y el cliente que seleccione tu servicio.

                    </td>


                </tr>

            </table>

        </td>

    </tr>

    <tr>

        <td bgcolor="#59C3F9" style="padding: 30px 30px 30px 30px;">

            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                <tr>

                    <td>

                        &reg; TAS-ON S.A.,<br/>

                        Este correo fue enviado automáticamente, por favor no responder.

                    </td>

                </tr>

            </table>

        </td>

    </tr>

</table>

<br/>
<h6>
    <i>
        * Cláusula de Confidencialidad: La información contenida en el presente  mensaje es confidencial, está dirigida exclusivamente a su destinatario. Su distribución o copia está prohibida. TASON S.A., no se responsabiliza  por su uso y deja expresa constancia que en los registros consta la  información originalmente enviada o criterios técnicos facilitados a pedido del destinatario, quien es responsable por su uso y destino. Este mensaje está protegido por el Código Orgánico de la Economía Social de los Conocimientos, Creatividad e Innovación, Ley de Comercio Electrónico, Firmas y Mensajes de Datos, reglamentos, acuerdos y convenios internacionales relacionados.
        Si usted no es el destinatario de este mensaje, recomendamos su eliminación inmediata. La distribución, reproducción del mismo, está  prohibida y será sancionada de acuerdo al Código Orgánico Integral Penal  y demás normas aplicables.
    </i>

</h6>

</html>