<form>
      <div class="row" *ngIf="false">

            <div class="col-md 12 text-center">

            <div class="btn-group" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-secondary" routerLink="/panel/solicitud-ofertas/listar-solicitud-oferta">Nuevo solicitud</button>
            </div>

            </div>

      </div>

      <div class="row">

            <div class="col-md 12">

                  <router-outlet></router-outlet>

            </div>

      </div>
    </form>
